# ----------------------------
# Core DL (CUDA는 별도)
# ----------------------------
torch==2.1.0
torchvision==0.16.0

# ----------------------------
# Transformers (ViT)
# ----------------------------
transformers==4.36.2
accelerate==0.25.0

# ----------------------------
# Vision / Image
# ----------------------------
opencv-python==4.8.1.78
Pillow==10.1.0

# ----------------------------
# Data / Utils
# ----------------------------
numpy==1.26.2
pandas==2.1.4
tqdm==4.66.1
datasets>=2.19.0
huggingface_hub>=0.20.0
pillow
decord
scikit-learn
# ----------------------------
# Experiment Tracking (선택)
# ----------------------------
wandb==0.16.1

# ----------------------------
# Jupyter Kernel (선택)
# ----------------------------
ipykernel==6.27.1


